table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination button {
            padding: 5px 10px;
            margin: 0 5px;
            cursor: pointer;
            background-color: #f1f1f1;
            border: 1px solid #ddd;
        }

        .pagination button:disabled {
            cursor: not-allowed;
            background-color: #e0e0e0;
        }

        .delete-btn, .edit-btn {
            padding: 5px;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        .delete-btn i, .edit-btn i {
            font-size: 16px;
            color: red;
        }

        .edit-btn i {
            color: blue;
        }
 
        .navbar-brand, .nav-link {
            color: #ecf0f1 !important; /* Light text color */
            transition: color 0.3s ease-in-out;
          }
          .navbar-brand:hover, .nav-link:hover {
            color: #f39c12 !important; /* Gold color on hover */
          }
          .navbar-toggler-icon {
            background-color: #ecf0f1; /* Light toggler icon */
          }
          .nav-item {
            margin-right: 20px;
          }
          .nav-item:last-child {
            margin-right: 0;
          }
          body {
            font-family: 'Arial', sans-serif;
            
          }
          .navbar {
            background-color: #2c3e50; /* Dark background */
          }